{% extends "layout.html" %}

{% block map %}{% endblock %}

{% block title %}
    Log in
{% endblock %}

{% block main %}
    <form action="/login" method="post">
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="username" placeholder="Username" type="text">
        </div>
        <div class="form-group">
            <input class="form-control" name="password" placeholder="Password" type="password">
            <a href="/recover">I forgot my password</a>
        </div>
        <button class="btn btn-primary" type="submit">Log In</button>
    </form>

    <hr>You don't have an account?<br>
    <a href="/register"><button type="button" class="btn btn-primary">Sign in</button></a>
{% endblock %}