{% extends "layout.html" %}

{% block map %}

    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- HERE JavaScript Libs & Style Sheets-->
    <link rel="stylesheet" type="text/css" href="https://js.api.here.com/v3/3.1/mapsjs-ui.css" />
    <script type="text/javascript" src="https://js.api.here.com/v3/3.1/mapsjs-core.js"></script>
    <script type="text/javascript" src="https://js.api.here.com/v3/3.1/mapsjs-service.js"></script>
    <script type="text/javascript" src="https://js.api.here.com/v3/3.1/mapsjs-ui.js"></script>
    <script type="text/javascript" src="https://js.api.here.com/v3/3.1/mapsjs-mapevents.js"></script>
    <!-- HERE JavaScript Libs & Style Sheets end-->

{% endblock %}

{% block title %}
    Map
{% endblock %}

{% block main %}
    <!--In the div HERE Map will be rendered-->
    <div style="width: 100vw; height: 100vh" id="mapContainer"></div>

    <form action="/map_confirm" method="post">
        <input name="latitude" type="hidden" value="{{ latitude }}">
        <input name="longitude" type="hidden" value="{{ longitude }}">
        <div class="row text-center">
            <div class="col"><button type="submit" class="btn btn-secondary">Confirm location</button></div>
            <div class="col"><a href="/loc_change"><button type="button" class="btn btn-dark">Search again</button></a></div>
        </div>
    </form>

    <script>
        //Step 1: initialize communication with the platform
        // Replace variable YOUR_API_KEY with your own apikey
        var platform = new H.service.Platform({
            'apikey': '{{ apikey }}'
        });

        const lat = {{ latitude }};
        const lng = {{ longitude }};

        var defaultLayers = platform.createDefaultLayers();
        //Step 2: initialize a map - this map is centered over Europe
        var map = new H.Map(document.getElementById('mapContainer'),
            defaultLayers.vector.normal.map,
            {
                center: { lat: lat, lng: lng },
                zoom: 13,
                pixelRatio: window.devicePixelRatio || 1
            }
        );
        // add a resize listener to make sure that the map occupies the whole container
        window.addEventListener('resize', () => map.getViewPort().resize());
        //Step 3: make the map interactive
        // MapEvents enables the event system
        // Behavior implements default interactions for pan/zoom (also on mobile touch environments)
        var behavior = new H.mapevents.Behavior(new H.mapevents.MapEvents(map));

        // Create the default UI components
        var ui = H.ui.UI.createDefault(map, defaultLayers);

        // Marker code goes here
        var LocationOfMarker = { lat: lat, lng: lng };

        // Create a marker using the previously instantiated icon:
        var marker = new H.map.Marker(LocationOfMarker);

        // Add the marker to the map:
        map.addObject(marker);

        // Optionally,
        //Show the marker in the center of the map
        map.setCenter(LocationOfMarker)

        //Zooming so that the marker can be clearly visible
        map.setZoom(8)
    </script>
{% endblock %}